*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box1{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hide{
    display: none;
}
.msgcontainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    /* color: teal; */
    /* font-size: 3rem; */
}
.hide{
    display: none;
}
.msg{
    font-size: 4rem;
    font-weight: calc(1000);
    font-family: sans-serif;
    color: #fff;
}
#newbtn{
    height: 3rem;
    width: 8rem;
    margin: 2rem;
    border-radius: 1rem;
    border: none;
    font-size: 1rem;
    font-weight: bolder;
    background-color: black;
    color: #fff;
}
#heading{
    margin:1.5rem;
    font-size: 4rem;
    font-weight: calc(1000);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    /* shadow: 0px 0px 2rem rgba(94, 24, 206, 0.76) ; */
}
.game{
    display: flex;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.box{
    height: 8rem;
    width: 8rem;
    margin: 1rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,.5);
    font-size: 5rem;
    color: #b0413e;
    font-weight: calc(1000);
    background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

}
#reset{
    height: 3rem;
    width: 8rem;
    margin: 2rem;
    border-radius: 1rem;
    border: none;
    font-style: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: bolder;
    background-color: black;
    color: #fff;
}